<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>



<body>

<div style="float: right; padding-top: 1px">
    <form th:action="@{/logout}" method="get">
        <button type="submit" th:text="#{log.out}"></button>
    </form>
</div>


<div style="text-align: center">
    <h1 th:text="#{welcome}"></h1>
    <h2 th:text="#{admin.page}"></h2>
</div>


    <form th:action="@{/users}" method="get">
        <button type="submit" th:text="#{block.user}" style="padding-top: 10px; padding-bottom: 10px; padding-left: 25px;
            padding-right: 25px;"></button>
    </form>
<br>
    <br>
    <form th:action="@{/catalog}" method="get">
        <button type="submit" th:text="#{book}" style="padding-top: 10px; padding-bottom: 10px; padding-left: 25px;
            padding-right: 25px;"></button>
    </form>


<br>

<div>
    <h2 th:text="#{create.book}"></h2>
</div>
<form th:action="@{/add/book}" method="post">

    <i><label for="title" th:text="#{book.title}" style="padding-left: 58px;"></label>:
        <input type="text" id="title" name="title" autofocus="autofocus"/> </i>
    <br/>
    <i><label for="author" th:text="#{book.author}" style="padding-left: 41px;"></label>:
        <input type="author" id="author" name="author"/> </i>
    <br/>
    <i><label for="publisher" th:text="#{book.publisher}" style=" padding-left: 58px;"></label>:
        <input type="text" id="publisher" name="publisher"/> </i>
    <br/>
    <i><label for="quantity" th:text="#{book.quantity}" style="padding-left: 57px; margin-left: 10px;"></label>:
        <input type="text" id="quantity" name="quantity"/> </i>
    <br/>
    <i><label for="year" th:text="#{book.year}"></label>:
        <input type="text" id="year" name="year"/> </i>
    <br/>
    <br>
    <input type="submit" th:value="#{create.book}" style="padding-top: 10px; padding-bottom: 10px; padding-left: 25px;
            padding-right: 25px;"/>
</form>

</body>
</html>