<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div style="text-align: center">
    <h1 th:text="#{online.libr}"> </h1>
    <div th:if="${welcomeMessage}">
        <div th:text="${welcomeMessage}"></div>
    </div>

    <div >
        <div style="text-align: center" >


            <form th:action="@{/books/search}" method="post">
                <span th:text="#{search.by}" style="padding-left: 20px;"></span>:
                <select id="searchOption" name="searchOption">
                    <option value=""></option>
                    <option value="title" th:text="#{search.title}"></option>
                    <option value="author" th:text="#{search.author}"></option>
                    <option value="publisher" th:text="#{search.publisher}"></option>
                </select>
                <i><label ></label>
                    <input type="text" id="searchValue" name="searchValue" autofocus="autofocus" /> </i>
                <button type="submit" th:text="#{search}"></button>
            </form>
<!--            <form th:action="@{/books/search}" method="get" style="padding-left: 20px;">-->
<!--                -->
<!--            </form>-->

        </div>

    </div>

</div>




<div style="text-align: center">
    <table style=" margin-left: auto; margin-right: auto;">
        <thead>
        <tr>
            <th th:text ="#{title}">  </th>
            <th th:text="#{author}" >  </th>
            <th th:text ="#{publisher}">  </th>
            <th th:text="#{year.publ}" >  </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${books.isEmpty()}">
            <td colspan="2" th:text="#{no.such.book}">  </td>
        </tr>
        <tr th:each="book : ${books}">
            <td><span th:text="${book.getTitle()}" >  </span></td>
            <td><span th:text="${book.getAuthor()}" >  </span></td>
            <td><span th:text="${book.getPublisher()}" >  </span></td>
            <td><span th:text="${book.getYearOfPublishing()}" >  </span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>