<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript">
    function changeLocale() {
        console.log("onChange")
        var selectedOption = document.getElementById("locales").value;
        if (selectedOption !== '') {
            window.location.replace('?lang=' + selectedOption);
        }
    }

</script>

<body>
<div>
    <div style="float: left; padding-top: 1px">
        <span th:text="#{change}" style="padding-left: 20px;"></span>:
        <select id="locales" th:onchange="changeLocale()">
            <option value=""></option>
            <option value="en" th:text="#{lang.en}"></option>
            <option value="ua" th:text="#{lang.ua}"></option>
        </select>
    </div>

    <div style="float: left; padding-left: 10px">
        <form th:action="@{/registration}" method="get">
            <button type="submit" th:text="#{register}"></button>
        </form>
    </div>

    <div style="float: left; padding-left: 10px">
        <form th:action="@{/login}" method="get">
            <button type="submit" th:text="#{login}">Log In</button>
        </form>
    </div>

    <br>
    <div style="text-align: center">
        <h1 th:text="#{welcome}"></h1>
    </div>


    <div style="text-align: center">
        <table style=" margin-left: auto; margin-right: auto;">
            <thead>
            <tr>
                <th th:text ="#{title}">  </th>
                <th th:text="#{author}" >  </th>
                <th th:text ="#{publisher}">  </th>
                <th th:text="#{year.publ}" >  </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${books.isEmpty()}">
                <td colspan="2" th:text="#{no.such.book}">  </td>
            </tr>
            <tr th:each="book : ${books}">
                <td><span th:text="${book.getTitle()}" >  </span></td>
                <td><span th:text="${book.getAuthor()}" >  </span></td>
                <td><span th:text="${book.getPublisher()}" >  </span></td>
                <td><span th:text="${book.getYearOfPublishing()}" >  </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>