<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: center">
    <h1 th:text="#{login}"> Login</h1>

    <div th:if="${errorMessage}">
        <div th:text="${errorMessage}"></div>
    </div>

    <form th:action="@{/login}" method="post">
        <i><label for="username" th:text="#{user.name}"></label>:
            <input type="text" id="username" name="username" autofocus="autofocus" /> </i>
        <br />
        <i><label for="password" th:text="#{user.pass}">Password</label>:
            <input type="password" id="password" name="password" /> </i>
        <br /><br>
        <input type="submit" th:value="#{login}" />
    </form>
    <form th:action="@{/registration}" method="get">
        <button type="submit" th:text="#{register}"></button>
    </form>
</div>
</body>
</html>