<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: center">
    <h1  th:text="#{register}"> </h1>

    <div th:if="${errorMessage}">
        <div th:text="${errorMessage}"></div>
    </div>

    <br>
    <form th:action="@{/registration}" method="post">
        <i><label for="login" th:text="#{user.name}"></label>:
            <input type="text" id="login" name="login" autofocus="autofocus" /> </i>
        <br />
        <i><label for="password" th:text="#{user.pass}"></label>:
            <input type="password" id="password" name="password" /> </i>
        <br /><br>
        <select name="role">
            <option value="READER" th:text="#{reader}"></option>
            <option value="ADMIN" th:text="#{admin}"></option>
        </select>
        <input type="submit" th:value="#{create.account}" />
    </form>
</div>
</body>
</html>